* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    /* font-family: Arial, sans-serif;
     */
    width: 100%;
  }
.main{
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
}
button{
    background-color: rgba(172, 255, 47, 0.659);
    padding: 20px 40px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

.box{
    height: 50%;
    width: 60%;
    border: 2px solid white;
    /* text-align: center; */
    margin-left: 20%;
    margin-top: 10px;
    padding: 25px 30px;
    position: relative;
    
}